@import '../../styles/variables.scss';

.main_container {
  position: absolute;
  width: 900px;
  padding: 35px 30px;
  background-color: white;
  left: calc(50% - 480px);
  display: flex;
  margin: 80px 0;

  header {
    position: relative;
    width: 900px;

    h1 {
      color: #cbccce;
      margin: 0 0 10px 0;
    }

    .indikator {
      width: 45px;
      height: 4px;
      background-color: red;
    }

    button {
      position: absolute;
      right: -30px;
      top: -35px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .main_container {
    width: $breakpoint-md;
    left: calc(50% - 415px);

    header {
      button {
        right: -98px;
      }
    }

    header {
      width: 700px;
    }
  }
}
