@import '../../styles/variables.scss';

.main_container {
  position: absolute;
  width: 900px;
  padding: 35px 30px;
  background-color: white;
  left: calc(50% - 480px);
  display: flex;
  margin: 80px 0;

  .container {
    width: 100%;
  }

  header {
    position: relative;
    width: 900px;

    h1 {
      color: #cbccce;
      margin: 0 0 10px 0;
    }

    .indikator {
      top: -10px;
      position: absolute;
      width: 45px;
      height: 4px;
      background-color: red;
    }

    button {
      position: absolute;
      right: -30px;
      top: -35px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .main_container {
    width: $breakpoint-md;
    left: calc(50% - 415px);

    header {
      width: 100%;

      button {
        right: 0;
        top: -20px;
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .main_container {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    padding: 30px 0;

    .container {
      width: 90%;
      margin: 10px auto;
    }

    header {
      width: 100%;
      max-width: 100%;
      position: relative;

      button {
        right: 0;
        top: 0;
      }
    }
  }
}
