@import '../../styles/variables.scss';

.container {
  width: $container-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.update_button {
  width: 100px;
  color: white;
  background-color: green;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
}

.informationContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .informationBlock {
    width: 48%;
  }
}

.informationBlock {
  line-height: 25px;
  width: 220px;
}

.general_information {
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 180px;

  color: #666666;

  p {
    padding: 0 0 0 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  span {
    margin-left: 20px;
    font-size: 14px;
  }
}

.information_container {
  width: 50%;
}

.characteristicsAndInformation {
  width: 100%;
  background-color: #f7f8f9;
  display: flex;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 35px;

  .text_container {
    width: $container-width;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-weight: 400;

    img {
      width: 100%;
      height: auto;
    }

    .characteristics {
      width: 30%;
    }

    .description {
      width: 65%;
    }

    h2 {
      font-size: 30px;
      line-height: 35px;
      color: #cccccc;
      font-weight: 800;
      margin-bottom: 30px;
      position: relative;

      .indikator {
        position: absolute;
        width: 45px;
        height: 4px;
        background-color: red;
        top: -20px;
        left: 0;
      }
    }
  }

  // .characteristics {
  // }
}

@media (max-width: $breakpoint-lg) {
  .text_container {
    max-width: 100%;
    width: 100%;
    padding: 0 30px;
  }
}
