@import '../../styles/variables.scss';

.number {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;

  .phone_number {
    color: #0058cf;
    font-size: $font-size-extra-large;
    font-weight: 400;
  }

  .language_buttons {
    font-size: $font-size-small;
    color: #1f1f1f;
    line-height: 25px;

    span {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .triangle {
    position: absolute;
    border: 6px solid transparent;
    border-top: 6px solid #0058cf;
    right: -20px;
    top: calc(50% - 2px);
  }
}

.numberPopupContainer {
  position: absolute;
  bottom: -200px;
  left: -70px;
  width: 170px;
  padding: 10px;
  background-color: white;
  border: 1px solid #e0e1e2;

  p {
    color: #b8b5b8;
    margin-bottom: 10px;
    font-size: $font-size-small;

    span {
      color: red;
      font-size: inherit;
      font-weight: 300;
    }
  }
}
