.container {
  margin-right: 10px;
  font-size: 14px;

  .imageContainer {
    height: 80px;
    width: 100%;
    overflow: hidden;
    background-color: #005bcf;
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }

  .date {
    margin-bottom: 5px;
    color: #5c5d5e;
    font-weight: bold;
  }

  .description {
    margin-bottom: 10px;
    color: #68696a;
    font-weight: 300;
    overflow: hidden;
    position: relative;
    height: 62px;

    &::after {
      content: '';
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 2em;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        white 100%
      );
      pointer-events: none;
    }
  }

  a {
    color: red;
    font-weight: 400;
  }
}
