.model_id {
  font-size: 14px;
  color: #cbccce;
}

.category {
  line-height: 20px;
  color: #666666;
  font-weight: bold;
  margin-bottom: 5px;
}

.shadow {
  height: 40px;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1.2em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
    pointer-events: none;
  }
}

.priceBlock {
  display: flex;
  flex-direction: column;

  .oldPrice {
    color: #cbccce;
    text-decoration: line-through;
    font-size: 14px;
  }
  .discount {
    color: red;
    margin-left: 10px;
    font-size: 16px;
  }
}

.itemCategory {
  display: flex;
  flex-direction: column;

  .model {
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
  }
}
