@import '../../styles/variables.scss';

.container {
  width: $container-width;
  margin: 0 auto;
  min-height: 30vh;

  h2 {
    color: #cccccc;
    margin-bottom: 300px;
  }
}

.items_container {
  display: grid;
  grid-template-columns: repeat(4, 225px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 25px;
}

.categoryBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  .img_container {
    width: 80%;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100%;
  }

  p {
    text-align: center;
    margin-top: 10px;
  }
}

@media (max-width: $breakpoint-lg) {
  .container {
    width: $full-screen;
  }

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .items_container {
    grid-template-columns: repeat(3, 225px);
  }
}
