@import '../../styles/variables.scss';

.slider_container {
  width: $container-width;
  margin: 70px auto 0;

  h2 {
    margin-top: 100px;
    font-size: 30px;
    line-height: 35px;
    color: #cccccc;
    font-weight: 800;
    margin-bottom: 30px;
    position: relative;

    .indikator {
      position: absolute;
      width: 45px;
      height: 4px;
      background-color: red;
      top: -20px;
      left: 0;
    }
  }
}

.property_item_container {
  width: $container-width;
  margin: 100px auto 0;

  .list_of_items {
    display: flex;
    gap: 30px;
  }

  h2 {
    font-size: 30px;
    line-height: 35px;
    color: #cccccc;
    font-weight: 800;
    margin-bottom: 30px;
    position: relative;

    .indikator {
      position: absolute;
      width: 45px;
      height: 4px;
      background-color: red;
      top: -20px;
      left: 0;
    }
  }

  .item_container {
    width: 220px;
  }
}

@media (max-width: $breakpoint-lg) {
  .slider_container {
    width: $full-screen;
  }
}
