@import '../../styles/variables.scss';

.container {
  width: $container-width;
  margin: 0 auto;
  margin-top: 110px;
}

.title_container {
  font-size: 30px;
  line-height: 50px;
  color: #666666;
  font-weight: 300;
  position: relative;
  margin-bottom: 10px;

  .indikator {
    position: absolute;
    width: 45px;
    height: 3px;
    background-color: red;
    top: -15px;
    left: 0;
  }

  .title {
    font-weight: 800;
    color: #cccccc;
  }
}

.compare_products_container {
  width: 100%;
  display: flex;
  overflow-x: scroll;

  h2 {
    color: #cccccc;
  }

  .params {
    min-width: 240px;
    background-color: #f8f8f8;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      font-size: 12px;
      line-height: 35px;
      color: #333333;
      font-weight: 300;
      padding-left: 20px;

      &.secound {
        background-color: #ffffff;
      }
    }

    .header {
      height: 100%;
      width: 100%;

      p {
        font-size: 12px;
        line-height: 30px;
        color: #cccccc;
        display: flex;
        align-items: center;
        padding-left: 20px;

        span {
          color: #666666;
          margin-left: 5px;
        }

        &:hover {
          text-decoration: underline;
          color: black;
          cursor: pointer;
        }
      }
    }
  }
}

.categories_line {
  width: 100%;
  height: 40px;
  display: flex;
  margin-bottom: 35px;
  overflow-x: auto;

  .category_buttons {
    min-width: 180px;
    padding: 0 5px 0 10px;
    display: flex;
    align-items: center;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 10px;
    justify-content: space-between;
    color: #a0a0a0;
    transition: 0.2s all;

    &.active {
      border: none;
      background-color: #79b7eb;
      color: white;

      &:hover {
        border: none;
        background-color: #79b7eb;
        color: white;
      }
    }

    span {
      margin-left: 5px;
      font-size: 14px;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid #cccccc;
      color: #636363;
    }
  }
}

.compare_items_container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
